.heading {
  /* color: rebeccapurple; */
  font-size: 4em;
  background: linear-gradient(to right, rebeccapurple, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero {
  display: flex;
  margin: 0;
  padding: 0;
  height: 92vh;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #040605;
}
.left {
  flex: 1;
  width: 50%;
}
.smallheading{
  color: #e4ece7;
}
.right {
  flex: 1;
  width: 50%;
  padding-top: 2%;
  padding: 1em;
}
.about {
  font-size: 1.5em;
  width: 8em;
  height: 1.8em;
  border-radius: 5%;
  align-self: center;
  border-width: 1px;
  box-shadow: 5px 5px gray;
}

.blogimg{
  margin:10% 15%;
  animation: move 2s infinite ease-in alternate;
}
@keyframes move{
  from{
    transform: translateY(-2em);
  }
  to{
    transform: translateY(0);
  }
}

@media screen and (max-width: 850px){
      .hero{
        display: flex;
        flex-direction: column;
      }
      .left{
        width: 100%;
        padding: 1em;
        display: none;
      }
      .right{
        width:100%;
        align-items: center;
        padding: 0.5em;
        background-color: #222;
      }
      .heading{
        text-align: center;
        background-color: transparent;
       color:rebeccapurple ;
      }
      .right{
        align-content: center;
      }
      .blogimg{
        margin: 0;
      }
      .about{
        margin-left: 30%;
      }
} 